/* The print styles. Here is where the magic happens */

body{
  padding: 0;
  margin: 0;
  /*transform: rotate(90deg);*/
}

@page{
  margin: 0;
  size: landscape;
}

.zine{
  /*page-break-after: always;*/
  position: relative;
}

.side{
  break-after: page;
  position: relative;
  height: 8.5in;
  width: 11in;
}

.page{
  position: absolute;
  border: 1px solid lightgrey;
  border-sizing: border-box;
}

.top-row{
  top: 0;
  transform: rotate(180deg);
}

.bottom-row{
  top: 4.25in;
}

.page4, .page5{
  left: 0;
}

.page3, .page6{
  left: 2.75in;
}

.page2, .back{
  left: 5.5in;
}

.page1, .front{
  left: 8.25in;
}

.page2, .page3{
  border-top: 1px dashed black;
}

.page6, .back{
  border-top: none;
}