body {
  padding: 0; 
  margin: 0; 
  font-family: "Courier New", Courier, monospace;
  word-wrap: break-word;
} 

.speech{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.signature{
  margin-left: 60px;
}